h1,
h2,
p,
li {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.recipe-image-container {
  text-align: center;
}

.recipe-body {
  padding: 36px;
}